<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Intanco"/>
    <meta name="description" content="Intanco"/>
    <meta name="author" content="dogancankilment.com"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Intanco</title>

    <link rel="shortcut icon" href="{{ STATIC_URL }}static/home/images/favicon.ico"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,600,700,800,900|Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/home/css/plugins-css.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/home/revolution/css/settings.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/home/css/typography.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/home/css/shortcodes/shortcodes.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/home/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/home/css/responsive.css"/>
</head>

<body>
    <div class="wrapper">
        <div id="pre-loader">
            <img src="{{ STATIC_URL }}static/home/images/pre-loader/loader-01.svg" alt="">
        </div>

        <header id="header" class="header light logo-center">
            <div class="menu">
            </div>
        </header>

        <!--<section class="blog-fashion-banner white-bg o-hidden">-->
            <!--<div class="container-fluid p-0">-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-12">-->
                        <!--<div class="owl-carousel" data-items="4" data-md-items="4" data-sm-items="2" data-xs-items="2"-->
                             <!--data-xx-items="1" data-space="5">-->
                            <!--{% if blogs %}-->
                                <!--{% for b in post_count %}-->
                                    <!--<div class="item">-->
                                        <!--<div class="blog-overlay">-->
                                            <!--<div class="blog-image">-->
                                                <!--<img class="img-responsive" src="media/{{ b.image }}"-->
                                                     <!--alt="">-->
                                            <!--</div>-->
                                            <!--<div class="blog-name">-->
                                                <!--<a class="tag" href=""> {{ b.category }} </a>-->
                                                <!--<h4 class="mt-15 text-white"><a href="{% url post b.id %}">{{ b.title }}</a></h4>-->
                                                <!--<span class="text-white">By {{ b.which_user }}</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--{% endfor %}-->
                            <!--{% endif %}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
<header id="header" class="header light logo-center">

<div class="menu">
  <!-- menu start -->
   <nav id="menu" class="mega-menu">
    <!-- menu list items container -->
    <section class="menu-list-items">
     <div class="container">
      <div class="row">
       <div class="col-lg-12 col-md-12">
        <!-- menu logo -->
        <ul class="menu-logo">
            <li>
                <a href=""><img id="logo_img" class="logo-big" src="{{ STATIC_URL }}static/home/demo-categories/blog-fashion/images/logo.png" alt="logo"> </a>
            </li>
        </ul>
        <!-- menu links -->
        <div class="menu-bar">
         <ul class="menu-links">
             <li>
                 <a href="/">Home</a>
             </li>
             <li>
                 <a href="/admin-panel">Get Inside </a>
             </li>
        </ul>
        <div class="search-cart">
          <div class="search">
            <a class="search-btn not_click" href="javascript:void(0);"></a>
              <div class="search-box not-click">
                 <input type="text" class="not-click form-control" placeholder="Search" value="" name="s">
               <i class="fa fa-search"></i>
           </div>
          </div>
        </div>
        </div>
       </div>
      </div>
     </div>
    </section>
   </nav>
  <!-- menu end -->
 </div>
</header>

        <section class="masonry-main white-bg page-section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="masonry columns-3">
                            <div class="grid-sizer"></div>
                            {% if blogs %}
                                {% for b in blogs %}
                                    <div class="masonry-item">
                                        <div class="blog blog-simple text-center mb-20">
                                            <div class="blog-image">
                                                <img class="img-responsive" src="media/{{ b.image }}" alt="">
                                            </div>
                                            <div class="blog-name mt-20">
                                                <a class="tag" href="#"> {{ b.category }} </a>
                                                <h4 class="mt-15"><a href="{% url post b.id %}">{{ b.title }}</a></h4>
                                                <p >{{ b.content|truncatechars:300 }}</p>
                                                <div class="entry-meta mb-10">
                                                    <ul>
                                                        <!--<li><a href="#"><i class="fa fa-comment-o"></i> {{ b.tags }}</a></li>-->
                                                        <li><i class="fa fa-calendar-o"></i>{{ b.created_at }}</li>
                                                    </ul>
                                                </div>
                                                <div class="admin">
                                                    <span>By {{ b.which_user }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-sm-12 text-center mt-30">-->
                        <!--<nav aria-label="...">-->
                            <!--<ul class="pagination">-->
                                <!--<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>-->
                                <!--</li>-->
                                <!--<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>-->
                                <!--<li><a href="#">2</a></li>-->
                                <!--<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>-->
                            <!--</ul>-->
                        <!--</nav>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

        </section>

        <!--<footer class="footer black-bg" style="position:absolute; bottom:0; width: 100%">-->
            <!--<div class="container">-->
                <!--<div class="footer-widget mt-60 ">-->
                    <!--<div class="row">-->
                        <!--<div class="col-lg-12 text-center">-->
                            <!--<p class="mt-15"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span>-->
                                <!--<a href="http://www.dogancankilment.com"> DCK </a> All Rights Reserved-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</footer>-->
    </div>


    <div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>

<script type="text/javascript" src="{{ STATIC_URL }}static/home/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}static/home/js/plugins-jquery.js"></script>
<script type="text/javascript">var plugin_path = '{{ STATIC_URL }}static/home/js/';</script>
<script type="text/javascript" src="{{ STATIC_URL }}static/home/js/custom.js"></script>

</body>
</html>