<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="Intanco"/>
        <meta name="description" content="Intanco"/>
        <meta name="author" content="dogancankilment.com"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>INTANCO</title>

        <link rel="shortcut icon" href="{{ STATIC_URL }}/home/images/favicon.ico"/>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,600,700,800,900|Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/home/css/plugins-css.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/home/css/typography.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/home/css/shortcodes/shortcodes.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/home/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/home/css/responsive.css"/>

    </head>

    <body class="st-container st-effect-1">
        <div class="wrapper">
            <div id="pre-loader">
                <img src="{{ STATIC_URL }}/home/images/pre-loader/loader-01.svg" alt="">
            </div>
            <div class="st-pusher">
                <section class="white-bg page-section-ptb">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 port-information">
                                <div class="port-content">
                                    <h4 class="mb-30">{{ post.title }}</h4>
                                    <p class="mb-30">{{ post.content }}</p>
                                    <h8>{{ post.category }} // </h8>
                                    <h8>by {{ post.which_user }}</h8>
                                    <h8>at {{ post.created_at }}</h8>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="clearfix">
                                    <img class="img-responsive full-width" src="/media/{{ post.image }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>

        <script type="text/javascript" src="{{ STATIC_URL }}/home/js/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}/home/js/plugins-jquery.js"></script>
        <script type="text/javascript">var plugin_path = '{{ STATIC_URL }}/home/js/';</script>
        <script type="text/javascript" src="{{ STATIC_URL }}/home/js/custom.js"></script>
    </body>
</html>
