<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Blog Post - Cryptonix</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i%7cPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cMontserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cLato:100,100i,300,300i,400,400i,700,700i,900,900i%7cOpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7cPT+Sans:400,400i,700,700i" rel="stylesheet"> 
	
	<!-- Library -->
    <link href="assets/css/lib.css" rel="stylesheet">

	<!-- Custom - Common CSS -->
	<link rel="stylesheet" href="assets/css/rtl.css">
	<link rel="stylesheet" type="text/css" href="style.css">

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->

	<!-- Header Section -->
	<header class="header_s header-fix header_s1">
		<!-- SidePanel -->
		<div id="slidepanel-1" class="slidepanel">
			<!-- Top Header -->
			<div class="top-header">
				<!-- Container -->
				<div class="container">	
					<div class="cnt-detail">
						<span><i class="fa fa-phone"></i><a href="tel:001234567899">0012 3456 7899</a></span>
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
							<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->
		</div><!-- SidePanel /- -->
		<!-- Menu Block -->
		<div class="menu-block">
			<nav class="navbar ownavigation navbar-expand-lg">
				<!-- Container -->
				<div class="container">
					<!--a class="navbar-brand" href="index.html">Cryptonix</a-->
					<a class="image-logo navbar-brand" href="index.html"><img src="assets/images/logo-blue.png" alt="Logo" /></a>
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation">
						<i class="fa fa-bars"></i>
					</button>
					<div class="collapse navbar-collapse" id="navbar">
						<ul class="navbar-nav">
							<li class="dropdown">
								<i class="ddl-switch fa fa-angle-down"></i>
								<a class="nav-link dropdown-toggle" title="Home" href="index.html">Home</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="index.html" title="Homepage 1">Homepage 1</a></li>
									<li><a class="dropdown-item" href="index-2.html" title="Homepage 2">Homepage 2</a></li>
									<li><a class="dropdown-item" href="index-3.html" title="Homepage 3">Homepage 3</a></li>
									<li><a class="dropdown-item" href="index-4.html" title="Homepage 4">Homepage 4</a></li>
									<li><a class="dropdown-item" href="index-5.html" title="Homepage 5">Homepage 5</a></li>
									<li><a class="dropdown-item" href="index-6.html" title="Homepage 6">Homepage 6</a></li>
									<li><a class="dropdown-item" href="index-7.html" title="Homepage 7">Homepage 7</a></li>
									<li><a class="dropdown-item" href="index-8.html" title="Homepage 8">Homepage 8</a></li>
									<li><a class="dropdown-item" href="index-9.html" title="Homepage 9">Homepage 9</a></li>
									<li><a class="dropdown-item" href="index-10.html" title="Homepage 10">Homepage 10</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="nav-link dropdown-toggle" title="About" href="about.html">About</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="about.html" title="About">About</a></li>
									<li><a class="dropdown-item" href="about-2.html" title="About 2">About 2</a></li>
									<li><a class="dropdown-item" href="about-3.html" title="About 3">About 3</a></li>
									<li><a class="dropdown-item" href="about-4.html" title="About 4">About 4</a></li>
									<li><a class="dropdown-item" href="about-5.html" title="About 5">About 5</a></li>
									<li><a class="dropdown-item" href="about-me.html" title="About me">About me</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="nav-link dropdown-toggle" title="Portfolio" role="button" aria-haspopup="true" aria-expanded="false">Portfolio</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="portfolio-2-col.html">Portfolio 2 Col</a></li>
									<li><a class="dropdown-item" href="portfolio-3-col.html">Portfolio 3 Col</a></li>
									<li><a class="dropdown-item" href="portfolio-4-col.html">Portfolio 4 Col</a></li>
									<li><a class="dropdown-item" href="single-project.html">Single Project</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="nav-link dropdown-toggle" title="Services" href="services.html">Services</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="services.html" title="Services">Services</a></li>
									<li><a class="dropdown-item" href="services-2.html" title="Services 2">Services 2</a></li>
									<li><a class="dropdown-item" href="services-3.html" title="Services 3">Services 3</a></li>
									<li><a class="dropdown-item" href="services-4.html" title="Services 4">Services 4</a></li>
									<li><a class="dropdown-item" href="services-5.html" title="Services 5">Services 5</a></li>
								</ul>
							</li>
							<li class="active dropdown">
								<a href="blog-list.html" class="nav-link dropdown-toggle" title="Blog" role="button" aria-haspopup="true" aria-expanded="false">blog</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="blog-list.html">Blog List</a></li>
									<li><a class="dropdown-item" href="blog-list-2-col.html">Blog 2 Col</a></li>
									<li><a class="dropdown-item" href="blog-list-3-col.html">Blog 3 Col</a></li>
									<li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="nav-link dropdown-toggle" title="Pages" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li class="dropdown">
										<a href="#" class="nav-link dropdown-toggle" title="Header" role="button" aria-haspopup="true" aria-expanded="false">Header</a>
										<i class="ddl-switch fa fa-angle-down"></i>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" title="Header 1" href="header1.html">Header 1</a></li>
											<li><a class="dropdown-item" title="Header 2" href="header2.html">Header 2</a></li>
											<li><a class="dropdown-item" title="Header 3" href="header3.html">Header 3</a></li>
											<li><a class="dropdown-item" title="Header 4" href="header4.html">Header 4</a></li>
											<li><a class="dropdown-item" title="Header 5" href="header5.html">Header 5</a></li>
											<li><a class="dropdown-item" title="Header 6" href="header6.html">Header 6</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#" class="nav-link dropdown-toggle" title="Header" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
										<i class="ddl-switch fa fa-angle-down"></i>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" title="Menu 1" href="menu1.html">menu 1</a></li>
											<li><a class="dropdown-item" title="Menu 2" href="menu2.html">menu 2</a></li>
											<li><a class="dropdown-item" title="Menu 3" href="menu3.html">menu 3</a></li>
											<li><a class="dropdown-item" title="Menu 4" href="menu4.html">menu 4</a></li>
											<li><a class="dropdown-item" title="Menu 5" href="menu5.html">menu 5</a></li>
											<li><a class="dropdown-item" title="Menu 6" href="menu6.html">menu 6</a></li>
											<li><a class="dropdown-item" title="Menu 7" href="menu7.html">menu 7</a></li>
											<li><a class="dropdown-item" title="Menu 8" href="menu8.html">menu 8</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#" class="nav-link dropdown-toggle" title="Product" role="button" aria-haspopup="true" aria-expanded="false">Product</a>
										<i class="ddl-switch fa fa-angle-down"></i>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" title="Shop 2 Col" href="shop-2-col.html">Shop 2 Col</a></li>
											<li><a class="dropdown-item" title="Shop 3 Col" href="shop-3-col.html">Shop 3 Col</a></li>
											<li><a class="dropdown-item" title="Shop 4 Col" href="shop-4-col.html">Shop 4 Col</a></li>
											<li><a class="dropdown-item" title="Shop Detail" href="shop-detail.html">Shop Detail</a></li>
											<li><a class="dropdown-item" title="Cart" href="cart.html">Cart</a></li>
											<li><a class="dropdown-item" title="Checkout" href="checkout.html">Checkout</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="contact-us.html" class="nav-link dropdown-toggle" title="Pages" role="button" aria-haspopup="true" aria-expanded="false">Contact</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" title="Contact 1" href="contact-us.html">Contact 1</a></li>
									<li><a class="dropdown-item" title="Contact 2" href="contact-us2.html">Contact 2</a></li>
									<li><a class="dropdown-item" title="Contact 3" href="contact-us3.html">Contact 3</a></li>
									<li><a class="dropdown-item" title="Contact 4" href="contact-us4.html">Contact 4</a></li>
									<li><a class="dropdown-item" title="Contact 5" href="contact-us5.html">Contact 5</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div id="loginpanel-1" class="desktop-hide">
						<div class="right toggle" id="toggle-1">
							<a id="slideit-1" class="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
							<a id="closeit-1" class="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
						</div>
					</div>
				</div><!-- Container /- -->
			</nav>
		</div><!-- Menu Block /- -->
	</header><!-- Header Section /- -->	

	<div class="main-container">
	
		<!-- Page Banner -->
		<div class="page-banner blog-list-banner">
			<!-- Container -->
			<div class="container">
				<h3>Single Post</h3>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">home</a></li>
					<li class="breadcrumb-item"><a href="blog-list.html">blog</a></li>
					<li class="breadcrumb-item active">Single Post</li>
				</ol>
			</div><!-- Container /- -->
		</div><!-- Page Banner /- -->
	
		<main class="site-main">
			
			<!-- Blog Post -->
			<div class="blog-post">
				<!-- Container -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<!-- Content Area -->
						<div class="col-lg-8 col-md-7 content-area">
							<!-- Blog Box -->
							<div class="blog-box">								
								<div class="entry-cover">
									<img src="assets/images/blog-single.jpg" alt="Blog" />
								</div>
								<div class="entry-content">
									<div class="entry-header">
										<h3 class="entry-title">The big iPhone 8 changes will likely cost you more than ever</h3>
										<div class="entry-meta">
											<span><i class="fa fa-user"></i> by <a href="#">admin</a></span>
											<span><i class="fa fa-clock-o" aria-hidden="true"></i>10 minutes ago</span>
										</div>
									</div>
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
									<div class="row post-gallery">
										<div class="col-sm-3 col-4">
											<a href="assets/images/post-gallery-1.jpg"><img src="assets/images/post-gallery-1.jpg" alt="Gallery"/></a>
										</div>
										<div class="col-sm-3 col-4">
											<a href="assets/images/post-gallery-2.jpg"><img src="assets/images/post-gallery-2.jpg" alt="Gallery"/></a>
										</div>
										<div class="col-sm-3 col-4">
											<a href="assets/images/post-gallery-3.jpg"><img src="assets/images/post-gallery-3.jpg" alt="Gallery"/></a>
										</div>
										<div class="col-sm-3 col-4">
											<a href="assets/images/post-gallery-4.jpg"><img src="assets/images/post-gallery-4.jpg" alt="Gallery"/></a>
										</div>
									</div>
									<p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
									<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
								</div>
							</div><!-- Blog Box /- -->
							<!-- Comment Form -->
							<div class="comment-respond">
								<h2 class="comment-reply-title">Leave a reply</h2>
								<form method="post" class="comment-form">
									<p class="comment-form-author">
										<input id="author" name="author" placeholder="Name" size="30" maxlength="245" required="required" type="text"/>
									</p>
									<p class="comment-form-email">
										<input id="email" name="email" placeholder="e-mail" required="required" type="email"/>
									</p>
									<p class="comment-form-subject">
										<input id="subject" name="subject" placeholder="Subject" required="required" type="text"/>
									</p>
									<p class="comment-form-comment">
										<textarea id="comment" name="comment" placeholder="Comments" rows="6" required="required"></textarea>
									</p>
									<p class="form-submit">
										<input name="submit" class="submit" value="Submit" type="submit"/>
									</p>
								</form>
							</div><!-- Comment Form /- -->
						</div><!-- Content Area -->
						<!-- Widget Area -->
						<div class="col-lg-4 col-md-5 widget-area">						
							<!-- Widget: Categories -->
							<aside id="categories" class="widget widget_categories">
								<h3 class="widget-title">Categories</h3>
								<ul>
									<li class="cat-item"><a href="#">Photography </a> (10)</li>
									<li class="cat-item"><a href="#">Design</a> (03)</li>
									<li class="cat-item"><a href="#">Development</a> (12)</li>
									<li class="cat-item"><a href="#">Coding</a> (05)</li>
									<li class="cat-item"><a href="#">photoshop</a> (02)</li>
									<li class="cat-item"><a href="#">articles</a> (19)</li>
									<li class="cat-item"><a href="#">video</a> (08)</li>
								</ul>
							</aside><!-- Widget: Categories /- -->
							
							<!-- Widget : Recent Post -->
							<aside class="widget widget_latest_post">
								<h3 class="widget-title">Recent Post</h3>
								<div class="latest-content">
									<div class="latest-post">
										<a href="#"><img src="assets/images/rp-1.jpg" alt="Post" /></a>
										<h4><a href="#">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh </a></h4>
										<span><a href="#">Jun 18, 2015</a></span>
									</div>
									<div class="latest-post">
										<a href="#"><img src="assets/images/rp-2.jpg" alt="Post" /></a>
										<h4><a href="#">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh </a></h4>
										<span><a href="#">Jun 17, 2015</a></span>
									</div>
									<div class="latest-post">
										<a href="#"><img src="assets/images/rp-3.jpg" alt="Post" /></a>
										<h4><a href="#">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh </a></h4>
										<span><a href="#">Jun 15, 2015</a></span>
									</div>
									<div class="latest-post">
										<a href="#"><img src="assets/images/rp-4.jpg" alt="Post" /></a>
										<h4><a href="#">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh </a></h4>
										<span><a href="#">Jun 15, 2015</a></span>
									</div>
								</div>
							</aside><!-- Widget : Recent Post -->
							
							<!-- Widget: Archives -->
							<aside id="archives" class="widget widget_archive">
								<h3 class="widget-title">Archives</h3>
								<ul>
									<li><a href="#">February 2015</a>(11)</li>
									<li><a href="#">March 2015</a>(03)</li>
									<li><a href="#">April 2015</a>(12)</li>
									<li><a href="#">May	2015</a>(05)</li>
									
								</ul>
							</aside><!-- Widget: Archives /- -->
							
							<!-- Widget: Tag Cloud -->
							<aside id="tag_cloud" class="widget widget_tag_cloud">
								<h3 class="widget-title">tags</h3>
								<div class="tagcloud">
									<a href="#" title="Amazing">Amazing</a>
									<a href="#" title="Envato">Envato</a>
									<a href="#" title="Themes">Themes</a>
									<a href="#" title="SEO">SEO</a>
									<a href="#" title="Clean">Clean</a>
									<a href="#" title="Responsiveness">Responsiveness</a>
								</div>
							</aside><!-- Widget: Tag Cloud /- -->
						</div><!-- Widget Area /- -->
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Blog Post /- -->
			
		</main>
		
	</div>
	
	<!-- Footer Section -->
	<div class="footer-section">
		<!-- Footer Widget -->
		<div class="footer-widget">
			<!-- Container -->
			<div class="container">			
				<!-- Row -->
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<!-- Widget : About -->
						<aside class="widget widget_about">
							<h3 class="widget-title">About us</h3>
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
							<p>Sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
						</aside><!-- Widget : About /- -->						
					</div>
					<div class="col-lg-3 col-md-6">
						<!-- Widget: Pages -->
						<aside class="widget widget_pages">
							<h3 class="widget-title">Services</h3>
							<ul>
								<li class="page_item"><a href="#">Mining Rig Maintenance</a></li>
								<li class="page_item"><a href="#">Buying and Selling</a></li>
								<li class="page_item"><a href="#">Consultation</a></li>
								<li class="page_item"><a href="#">Online Calculators</a></li>
								<li class="page_item"><a href="#">Security</a></li>
								<li class="page_item"><a href="#">Exchange Services for Investitors</a></li>
							</ul>
						</aside><!-- Widget: Pages /- -->
					</div>
					<div class="col-lg-3 col-md-6">
						<!-- Widget: Pages -->
						<aside class="widget widget_pages">
							<h3 class="widget-title">Tools</h3>
							<ul>
								<li class="page_item"><a href="#">Market Cap</a></li>
								<li class="page_item"><a href="#">Bitcoin Converter</a></li>
								<li class="page_item"><a href="#">Cryptocurrency Calculator</a></li>
								<li class="page_item"><a href="#">Charts</a></li>
								<li class="page_item"><a href="#">Eearning Calculator</a></li>
								<li class="page_item"><a href="#">Wallets</a></li>
							</ul>
						</aside><!-- Widget: Pages /- -->
					</div>
					<div class="col-lg-3 col-md-6">
						<!-- Widget : Contact Info -->
						<aside class="widget widget_contact-info">
							<h3 class="widget-title">Contact info</h3>
							<div class="wid-cnt-detail">
								<p><i class="fa fa-phone"></i><a href="tel:+386489550686">+386 489 550 686</a></p>
								<p><i class="fa fa-envelope"></i><a href="mailto:yourdomain@name.com">yourdomain@name.com</a></p>
								<p><i class="fa fa-map-marker"></i>123, Las Vegas lipsum</p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
									<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
								</ul>
							</div>
						</aside><!-- Widget : Contact -->
					</div>
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</div><!-- Footer Widget /- -->
		<div class="bottom-footer">
			<!-- Container -->
			<div class="container">
				<div class="ftr-content">
					<p><i class="fa fa-copyright"></i> Cryptonix Demo. All Rights Reserved</p>
					<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>
				</div>
			</div><!-- Container /- -->
		</div>
	</div>
	
	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/lib.js"></script>
	
	<!-- Library - Theme JS -->
	<script src="assets/js/functions.js"></script>
	
</body>
</html>